:root {
    --black-cw: #2c2c2c;
    --white-cw: #ececec;
    --green-cw: #62b146;
}

html, body {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

.mono {
    font-family: 'IBM Plex Mono', monospace;
}

.black-cw {
    color: var(--black-cw);
}

.white-cw {
    color: var(--white-cw);
}

.green-cw {
    color: var(--green-cw);
}

.bg-black-cw {
    background-color: var(--black-cw);
}

.bg-white-cw {
    background-color: var(--white-cw);
}

.bg-green-cw {
    background-color: var(--green-cw);
}

.menu {
    min-height:4rem;
    max-height:0;
    transition:max-height .4s,padding-bottom .4s
}

#burger:checked~.menu {
    max-height:25rem;
}

.menu-icon {
    position: relative;
    padding-left: 1.25em;
}

.menu-icon:before {
    content: "";
    position: absolute;
    left: 0;
    top: 0.25em;
    width: 1.5em;
    height: 0.15em;
    background: var(--white-cw);
    box-shadow: 0 0.625em 0 0 var(--white-cw), 0 1.25em 0 0 var(--white-cw);
}

.h1plus {
    height: 1.5rem;
}

.video-container {
    position: relative;
    padding-bottom: 56.25%;
    padding-top: 30px; height: 0; overflow: hidden;
}

.video-container iframe,
.video-container object,
.video-container embed {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
